<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="Houselock"
        version="1.0.0">

    <name>Houselock</name>
    <description>App to manage flat bills</description>
    <author href="" email="maja.chlodnicka@gmail.com">
        Maja Chłodnicka, Filip Tańcula, Kamil Pietrucha
    </author>
    <platform name="android"/>
    <icon src="icon.png"/>
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <splash src="splash.png" platform="android"/>

    <plugin name="cordova-plugin-device" spec="~1.1.4"/>
    <plugin name="cordova-plugin-whitelist"/>
    <plugin name="cordova-plugin-dialogs"/>

    <plugin name="cordova-plugin-inappbrowser"/>
    <plugin name="cordova-plugin-buildinfo" spec="^2.0.1" />
    <plugin name="cordova-universal-links-plugin" spec="^1.2.1" />
    <plugin name="cordova-plugin-browsertab" spec="^0.2.0" />
    <plugin name="cordova-plugin-browsertab" spec="^0.2.0" />
    <universal-links>
        <host name="houselock.page.link" scheme="https" />
        <host name="houselock-1.firebaseapp.com" scheme="https">
            <path url="/__/auth/callback" />
        </host>
    </universal-links>
    <preference name="AndroidLaunchMode" value="singleTask" />


    <access origin="http://*"/>
    <access origin="https://*"/>
    <access origin="*"/>

    <allow-navigation href="*"/>
    <allow-intent href="*"/>

    <preference name="CordovaWebViewEngine" value="CDVUIWebViewEngine" />

</widget>