.ons-icon, .text-input__label {
    color: #d91a43;
}

polygon {
    fill: #d91a43;
}

ons-input {
    margin-top: 15px;
    font-size: 20px;
}

.loader {
    margin-left: 45%;
    width: 50%;
}

.button {
    background-color: #d91a43;
    margin: 5px 0px;
}

ons-input {
    margin-top: 15px;
    font-size: 20px;
}

.alert-container {
    padding: 0 20px;
}

#loading {
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
    text-align: center;
}

.loading-circular {
    position: absolute;
    z-index: 3;
    top: 45%;
    margin: 0 auto;
}

#loaderPage .center {
    position: absolute;
    top: calc(50% - 90px);
    left: calc(50% - 65px);
    text-align: center;
    color: #d91a43;
}

#newFlatPage ons-input {
    width: 100%;
}

.fab-colors {
    background: #d91a43;
}

.fab-colors ons-icon {
    color: #fff;
}

.tabbar__item.active .tabbar__label {
    color: #d91a43;
}

.cancel-btn {
    background: #AAACB1;
}

.text-input--material__label--active {
    color: #d91a43;
}
