.ons-icon, .text-input__label {
    color: #d91a43;
}

polygon {
    fill: #d91a43;
}

ons-input {
    margin-top: 15px;
    font-size: 20px;
}

.loader {
    margin-left: 45%;
    width: 50%;
}

.button {
    background-color: #d91a43;
    margin: 5px 0px;
}

ons-input {
    margin-top: 15px;
    font-size: 20px;
}

.alert-container {
    padding: 0 20px;
}

#loading {
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
    text-align: center;
}

.loading-circular {
    position: absolute;
    z-index: 3;
    top: 45%;
    margin: 0 auto;
}

#loaderPage .center {
    position: absolute;
    top: calc(50% - 90px);
    left: calc(50% - 65px);
    text-align: center;
    color: #d91a43;
}

#newFlatPage ons-input {
    width: 100%;
}

.fab-colors {
    background: #d91a43;
}

.fab-colors ons-icon {
    color: #fff;
}

.tabbar__item.active .tabbar__label {
    color: #d91a43;
}

.cancel-btn {
    background: #AAACB1;
}

.text-input--material__label--active {
    color: #d91a43;
}

.config-left, .config-right {
    width: 50%;
}


@media only screen and (min-width: 991px){

    /*DEFAULT*/
    .page__background{
        background: #dadadc;
    }

    .tabbar{
        height: 80px;
    }

    .tabbar__content{
        bottom: 80px;
    }

    .tabbar__button{
        height: 80px;
        line-height: 1.2;
    }

    .tabbar__icon{
        font-size: 40px;
        height: auto;
        line-height: 1.2
    }

    .tabbar__icon + .tabbar__label{
        font-size: 18px;
    }

    /*START MIESZKANIE*/

    /*POPUP*/
    ons-action-sheet .action-sheet-mask{
        background: rgba(0, 0, 0, .5);
    }

    ons-action-sheet .action-sheet{
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
        background: #fff;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 20px;
    }

    ons-action-sheet .action-sheet-title{
        font-size: 24px;
        width: 100%;
        margin-bottom: 10px;
    }

    ons-action-sheet .action-sheet .action-sheet-button{
        display: table;
        width: auto;
        padding: 10px;
        height: auto;
        min-width: 150px;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.2;
        border: 2px solid #fe3824;
        transition: all .5s;
        border-radius: 5px;
        cursor: pointer;
    }

    ons-action-sheet .action-sheet .action-sheet-button:hover{
        border: 2px solid #fe3824;
        background: #fe3824;
        color: #ffffff;
    }

    ons-action-sheet .action-sheet .action-sheet-button + .action-sheet-button{
        margin: 0 0 0 5px;
        font-weight: 400;
        border: 2px solid #d91a43;
        border-radius: 5px;
    }

    ons-action-sheet .action-sheet-button + .action-sheet-button:hover{
        border: 2px solid #d91a43;
        background: #d91a43;
        color: #ffffff;
    }

    /*BUTTONY*/

    ons-speed-dial .fab-colors{
        border: 1px solid #d91a43;
        transition: all .5s;
        cursor: pointer;
    }

    .fab-colors{
        border: 1px solid #d91a43;
        transition: all .5s;
        cursor: pointer;
    }

    ons-speed-dial .fab-colors:hover{
        background: #ffffff;
    }

    .fab-colors:hover{
        background: #ffffff;
    }

    ons-speed-dial .fab-colors:hover ons-icon{
        color: #d91a43;
    }

    .fab-colors:hover ons-icon{
        color: #d91a43;
    }

    /*WYSWIETLANIE DANYCH*/

    #flat_info_save > div{
        display: flex;
        flex-wrap: wrap;
    }

    #flat_info_save ons-card{
        width: calc(50% - 16px);
        border: 1px solid #d91a43;
    }

    #flat_info_save ons-card .list-header{
        background: #efeff4;
        border-radius: 5px 5px 0 0;
        font-size: 24px;
        margin-top: 30px;
        padding: 15px;
        text-transform: capitalize;
    }

    #flat_info_save ons-card .list-item{
        background: #efeff4;
        padding: 0 15px 5px 15px;
    }

    #flat_info_save ons-card .list-item:last-of-type{
        border-radius: 0 0 5px 5px;
    }

    #flat_info_save ons-card .list-item .list-item__center{
        background: transparent;
    }

    #flat_info_save div.edit{
        background: #efeff4;
        padding: 0 15px 15px;
    }

    #flat_info_save div.edit .checkbox__checkmark{
        background: #ffffff;
        border-radius: 50%;
        cursor: pointer;
    }

    #flat_info_save div.edit .checkbox__checkmark:before{
        border-color: #ffffff;
    }

    #flat_info_save .edit ons-input{
        margin-top: 0;
    }

    #flat_info_save .edit ons-input input:not([type=checkbox]){
        background: #ffffff;
        border-radius: 5px;
        padding: 5px;
    }

    #flat_info_save .edit ons-input + ons-input{
        margin-top: 15px;
    }

    /*END MIESZKANIE*/

    /*START DASHBOARD*/

    #dashboardPage ons-card{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #d91a43;
    }

    #dashboardPage ons-card ons-button{
        max-width: 200px;
        width: 100%;
        text-align: center;
    }

    #dashboardPage ons-card ons-button.btn-danger{
        float: left;
        margin-top: 15px;
    }

    #dashboardPage ons-card ons-button.btn-secondary{
        float: right;
        margin-top: 15px;
    }

    #dashboardPage ons-card form:after{
        content: '';
        display: table;
        clear: both;
    }

    #dashboardPage ons-card .edit input{
        background: #ffffff;
        border-radius: 5px;
        padding: 5px;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
        border: none;
    }

    #dashboardPage ons-card .list-item{
        background: #efeff4;
        padding: 5px 15px;
        margin-bottom: 15px;
        border-radius: 5px;
    }

    #dashboardPage ons-card .list-item__center{
        background: transparent;
    }

    #dashboardPage ons-card .list-item__right{
        background: transparent;
    }

    /*END DASHBOARD*/


    /*START ALERTS*/

    #alertsPage ons-card{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #d91a43;
    }

    /*END ALERTS*/


    /*START RACHUNKI*/

    #billPage ons-card{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #d91a43;
    }

    #billPage ons-card ons-button{
        max-width: 200px;
        width: 100%;
        text-align: center;
    }

    #billPage ons-card ons-button.btn-danger{
        float: left;
        margin-top: 15px;
    }

    #billPage ons-card ons-button.btn-secondary{
        float: right;
        margin-top: 15px;
    }

    #billPage ons-card form:after{
        content: '';
        display: table;
        clear: both;
    }

    #billPage ons-card .edit input{
        background: #ffffff;
        border-radius: 5px;
        padding: 5px;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
        border: none;
    }

    #billPage ons-card .list-item{
        background: #efeff4;
        padding: 5px 15px;
        margin-bottom: 15px;
        border-radius: 5px;
    }

    #billPage ons-card .list-item__center{
        background: transparent;
    }

    #billPage ons-card .list-item__right{
        background: transparent;
    }

    #billListPage ons-card{
        padding: 0;
        background: transparent;
        box-shadow: none;
    }

    #billListPage .card__content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #billListPage .card__content > div{
        width: 50%;
        padding: 0 15px;
        box-sizing: border-box;
    }

    #billListPage ons-list-item{
        border: 1px solid #d91a43;
        padding: 16px;
        border-radius: 8px;
        background: white!important;
        margin-bottom: 15px;
    }

    #billListPage ons-card .list-item__center{
        background: transparent;
    }

    #billListPage ons-card .list-item--chevron:before{
        border-right-color: #d91a43;
        border-bottom-color: #d91a43;
    }


    /*END RACHUNKI*/

    /*START LOKATORZY*/

    #usersPage ons-card{
        padding: 0;
        background: transparent;
        box-shadow: none;
    }

    #usersPage .card__content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #usersPage .card__content > div{
        width: 50%;
        padding: 0 15px;
        box-sizing: border-box;
    }

    #usersPage ons-list-item{
        border: 1px solid #d91a43;
        padding: 16px;
        border-radius: 8px;
        background: white!important;
        margin-bottom: 15px;
    }

    #usersPage ons-card .list-item__center{
        background: transparent;
    }

    #usersPage ons-card .list-item--chevron:before{
        border-right-color: #d91a43;
        border-bottom-color: #d91a43;
    }

    #tenantPage ons-card{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #d91a43;
    }

    #tenantPage ons-card .list-item{
        background: #efeff4;
        padding: 5px 15px;
        margin-bottom: 15px;
        border-radius: 5px;
    }

    #tenantPage ons-card .list-header{
        background: #efeff4;
        border-radius: 5px;
        font-size: 24px;
        margin-bottom: 30px;
        padding: 15px;
        text-transform: capitalize;
    }

    #tenantPage ons-card .list-item__center{
        background: transparent;
    }

    #tenantNewPage ons-card{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #d91a43;
    }

    #tenantNewPage ons-card ons-button{
        max-width: 200px;
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }

    #tenantNewPage ons-card ons-input input{
        background: #ffffff;
        border-radius: 5px;
        padding: 5px;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
        border: none;
    }

    /*END LOKATORZY*/

    /*START USTAWIENIA*/

    #settingsPage ons-card{
        padding: 0;
        background: transparent;
        box-shadow: none;
    }

    #settingsPage .card__content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #settingsPage .card__content ons-list-item{
        width: 50%;
        box-sizing: border-box;
        padding: 0 15px;
        border-radius: 8px;
        background: transparent!important;
        margin-bottom: 15px;
    }

    #settingsPage .card__content ons-list-item > div{
        background: white!important;
        box-sizing: border-box;
        padding: 28px 16px;
    }

    #settingsPage .card__content ons-list-item > div:nth-child(1){
        border-top: 1px solid #d91a43;
        border-left: 1px solid #d91a43;
        border-bottom: 1px solid #d91a43;
        border-radius: 5px 0 0 5px;

    }

    #settingsPage .card__content ons-list-item > div:nth-child(2){
        border-top: 1px solid #d91a43;
        border-right: 1px solid #d91a43;
        border-bottom: 1px solid #d91a43;
        border-radius: 0 5px 5px 0;
    }

    #flatListPage ons-card{
        padding: 0;
        background: transparent;
        box-shadow: none;
    }

    #flatListPage .card__content{
        display: flex!important;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #flatListPage .card__content > div{
        width: 50%;
        padding: 0 15px;
        box-sizing: border-box;
    }

    #flatListPage ons-list-item{
        border: 1px solid #d91a43;
        padding: 16px;
        border-radius: 8px;
        background: white!important;
        margin-bottom: 15px;
    }

    #flatListPage ons-card .list-item__center{
        background: transparent;
    }

    #flatListPage ons-card .list-item--chevron:before{
        border-right-color: #d91a43;
        border-bottom-color: #d91a43;
    }

    #newFlatPage .page__content{
        margin: 8px;
    }

    #newFlatPage ons-list-title{
        width: 50%;
        border: 1px solid #d91a43;
        border-bottom: 0;
        margin: 8px auto 0 auto;
        bottom: auto;
        background: #fff!important;
        box-shadow: 0 1px 2px rgba(0,0,0,.12);
        border-radius: 8px 8px 0 0;
        padding: 16px;
        text-align: left;
        word-wrap: break-word;
        box-sizing: border-box;
    }

    #newFlatPage ons-list{
        width: 50%;
        border: 1px solid #d91a43;
        border-top: 0;
        margin: 0 auto 8px auto;
        bottom: auto;
        background: #fff!important;
        box-shadow: 0 1px 2px rgba(0,0,0,.12);
        border-radius: 0 0 8px 8px;
        padding: 16px;
        text-align: left;
        word-wrap: break-word;
        box-sizing: border-box;
    }

    #newFlatPage ons-list .list-item__center, #newFlatPage ons-list ons-list-item{
        padding: 0;
    }

    #newFlatPage .page__content ons-list-title{
        font-size: 24px;
        padding: 15px;
        text-transform: capitalize;
    }

    #newFlatPage .page__content ons-list{
        background: transparent;
    }

    #newFlatPage .page__content ons-input input{
        background: #ffffff;
        border-radius: 5px;
        padding: 5px;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
        border: none;
    }

    #userPage ons-card{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #d91a43;
    }

    #userPage ons-card ons-list{
        background: transparent;
    }

    #userPage ons-card .list-item{
        background: #efeff4;
        padding: 5px 15px;
        margin-bottom: 15px;
        border-radius: 5px;
    }

    #userPage ons-card .list-header{
        background: #efeff4;
        border-radius: 5px;
        font-size: 24px;
        margin-bottom: 30px;
        padding: 15px;
        text-transform: capitalize;
    }

    #userPage ons-card .list-item--longdivider{
        padding: 0;
        margin: 0 auto;
        background: transparent!important;
        max-width: 150px;
        width: 100%;
    }

    #userPage ons-card .list-item__center{
        background: transparent;
    }

    #userPage ons-card .list-item--longdivider__center{
        padding: 10px;
        margin: 0 auto;
        display: table;
        background: #d91a43;
        color: white;
        max-width: 150px;
        width: 100%;
        border-radius: 5px;
        text-align: center;
    }

    #userPage div.edit{
        padding: 0 15px 15px;
    }

    #userPage ons-card .edit input{
        background: #ffffff;
        border-radius: 5px;
        padding: 5px;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
        border: none;
    }

    #userPage ons-card ons-button.button--large{
        float: left;
        margin-top: 15px;
    }

    #userPage ons-card ons-button.cancel-btn{
        float: right;
        margin-top: 15px;
    }

    #userPage ons-card ons-button{
        max-width: 300px;
        width: 100%;
        text-align: center;
    }

    #userPage ons-card form:after{
        content: '';
        display: table;
        clear: both;
    }

    /*END USTAWIENIA*/

    /*START LOGOWANIE*/

    #loginPage .page__content > div{
        width: 50%;
        border: 1px solid #d91a43;
        box-shadow: 0 1px 2px rgba(0,0,0,.12);
        background: #fff;
        border-radius: 8px;
        margin: 8px auto;
        padding: 16px;
        text-align: left;
        word-wrap: break-word;
    }

    #loginPage .page__content > div ons-input{
        display: block;
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    #loginPage .page__content > div input{
        background: #ffffff;
        border-radius: 5px;
        padding: 5px;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
        margin-bottom: 15px;
        border: none;
    }

    /*END LOGOWANIE*/

    /*START REJESTRACJA*/

    #registerPage .page__content > div{
        width: 50%;
        border: 1px solid #d91a43;
        box-shadow: 0 1px 2px rgba(0,0,0,.12);
        background: #fff;
        border-radius: 8px;
        margin: 8px auto;
        padding: 16px;
        text-align: left;
        word-wrap: break-word;
    }

    #registerPage .page__content > div ons-input{
        display: block;
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    #registerPage .page__content > div input{
        background: #ffffff;
        border-radius: 5px;
        padding: 5px;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
        margin-bottom: 15px;
        border: none;
    }


    #setRolePage ons-card{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #d91a43;
    }

    #setRolePage ons-card ons-button{
        max-width: 300px;
        width: 100%;
        text-align: center;
    }

    #setRolePage ons-card .card__content{
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
    }
    

    /*END REJESTRACJA*/
}